@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

body.bpl{
  background-color: lightgray;

  #headlines ul{
    padding-left: 1rem;
  }

  .card {
    border-radius: 0;
  }
}